<!--footer start-->
<footer class="site-footer">
    <div class="text-center">
        2017 - Eduwizz.co.in - All Rights Reserved
        <a href="index.html#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
</footer>
<!--footer end-->
