<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Eduwizz</title>

    <%- include partials/top-scripts.ejs %>
    <%- include partials/styles.ejs %>

</head>

<body>

<section id="container">
    <!--header start-->
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="index.ejs" class="logo"><b>EDUWIZZ</b></a>
        <!--logo end-->
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="login.html">Logout</a></li>
            </ul>
        </div>
    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">

                <p class="centered"><a href="profile.html"><img src="/img/owl2_128_128.png" class="img-circle"
                                                                width="60"></a></p>
                <h5 class="centered">Marcel Newman</h5>

                <li class="mt">
                    <a class="active" href="index.ejs">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">

            <div class="row">
                <div class="col-lg-9 main-chart">

                    <div class="row mt">
                        <div class="col-md-4 col-sm-4 mb">
                            <div class="darkblue-panel pn">
                                <div class="darkblue-header">
                                    <h5>MATHS</h5>
                                </div>
                                <div class="mt mb text-center">
                                    <img src="/img/maths.png">
                                </div>
                                <footer>
                                    <div class="centered">
                                        <h5><i class="fa fa-file-text-o"></i> 10 Papers</h5>
                                    </div>
                                </footer>
                            </div>
                            <! -- /darkblue panel -->
                        </div><!-- /col-md-4 -->
                        <div class="col-md-4 col-sm-4 mb">
                            <div class="darkblue-panel pn">
                                <div class="darkblue-header">
                                    <h5>PHYSICS</h5>
                                </div>
                                <div class="mt mb text-center">
                                    <img src="/img/physics.png">
                                </div>
                                <footer>
                                    <div class="centered">
                                        <h5><i class="fa fa-file-text-o"></i> 14 Papers</h5>
                                    </div>
                                </footer>
                            </div>
                            <! -- /darkblue panel -->
                        </div><!-- /col-md-4 -->
                        <div class="col-md-4 col-sm-4 mb">
                            <div class="darkblue-panel pn">
                                <div class="darkblue-header">
                                    <h5>BIOLOGY</h5>
                                </div>
                                <div class="mt mb text-center">
                                    <img src="/img/biology.png">
                                </div>
                                <footer>
                                    <div class="centered">
                                        <h5><i class="fa fa-file-text-o"></i> 16 Papers</h5>
                                    </div>
                                </footer>
                            </div>
                            <! -- /darkblue panel -->
                        </div><!-- /col-md-4 -->

                    </div><!-- /row -->
                    <div class="row">
                        <div class="col-md-4 col-sm-4 mb">

                            <div class="darkblue-panel pn">
                                <div class="darkblue-header">
                                    <h5>CHEMISTRY</h5>
                                </div>
                                <div class="mt mb text-center">
                                    <img src="/img/chemistry.png">
                                </div>
                                <footer>
                                    <div class="centered">
                                        <h5><i class="fa fa-file-text-o"></i> 12 Papers</h5>
                                    </div>
                                </footer>
                            </div>
                            <! -- /darkblue panel -->

                        </div><!-- /col-md-4 -->

                    </div><!-- /row -->
                </div>
            </div>
            <! --/row -->
        </section>
    </section>
    <!--main content end-->
</section>
<%- include partials/footer.ejs %>

<%- include partials/scripts.ejs %>

<script type="application/javascript">
    $(document).ready(function () {
        $("#date-popover").popover({html: true, trigger: "manual"});
        $("#date-popover").hide();
        $("#date-popover").click(function (e) {
            $(this).hide();
        });

    });


    function myNavFunction(id) {
        $("#date-popover").hide();
        var nav = $("#" + id).data("navigation");
        var to = $("#" + id).data("to");
        console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
</script>


</body>
</html>
